@page "/Account/Login"

@using GeneralReservationSystem.Application.Entities.Authentication
@using GeneralReservationSystem.Application.Repositories.Interfaces.Authentication

@inject IUserRepository UserRepository
@inject ISessionRepository SessionRepository
@inject ISnackbar Snackbar


<MudContainer Class="mt-16">
    <MudGrid Class="mt-16" Justify="Justify.Center">
        <MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Loguearse</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudForm Model="@loginUserData" @ref="@form" Validation="@(loginValidator.ValidateValue)" ValidationDelay="0">
                        <MudCardContent>
                            <MudTextField @bind-Value="loginUserData.EmailAddress"
                                          For="@(() => loginUserData.EmailAddress)"
                                          Required="true"
                                          Label="Email" />

                            <MudTextField @bind-Value="loginUserData.Password"
                                          For="@(() => loginUserData.Password)"
                                          InputType="InputType.Password"
                                          Required="true"
                                          Label="Contraseña" />
                        </MudCardContent>
                    </MudForm>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await LoginAsync())">Loguearse</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
    <MudText Align="Align.Center" Class="mt-4">
        ¿Todavia no tiene una cuenta?
        <MudLink Href="/register" Align="Align.Center">Registrarse</MudLink>
    </MudText>
</MudContainer>


@code
{
    #region Properties and Fields

    string Message { get; set; } = string.Empty;

    MudForm form;

    ApplicationUserInputData loginUserData = new();

    LoginValidator loginValidator = new LoginValidator();

    #endregion

    private async Task LoginAsync()
    {
        try
        {
            await form.Validate();

            var passwordHasher = new Helpers.PasswordHashingHelper<ApplicationUser>();

            var result = await UserRepository.GetByEmailAsync(loginUserData.EmailAddress.ToUpperInvariant());
            result.IfValue(async loginUser =>
            {
                var verificationResult = passwordHasher.VerifyHashedPassword(loginUser, System.Text.Encoding.UTF8.GetString(loginUser.PasswordHash), loginUserData.Password);
                if (verificationResult == PasswordVerificationResult.Success)
                {
                    // Create a new session for the user.
                    var userSession = new UserSession
                    {
                        SessionId = Guid.NewGuid(),
                        UserId = loginUser.UserId,
                        CreatedAt = DateTime.UtcNow,
                        ExpiresAt = DateTime.UtcNow.AddHours(12),
                        SessionInfo = string.Empty
                    };

                    await SessionRepository.CreateSessionAsync(userSession);

                    // Write the session cookie into the browser.
                    // var context = HttpContextAccessor.HttpContext ?? throw new InvalidOperationException("No se pudo obtener el contexto HTTP.");
                    // context.Response.Cookies.Append(
                    //     "UserSessionId",
                    //     userSession.SessionId.ToString(),
                    //     new CookieOptions
                    //     {
                    //         HttpOnly = true,
                    //         Secure = true,
                    //         SameSite = SameSiteMode.Strict,
                    //         Expires = userSession.ExpiresAt
                    //     });

                    // TODO: Add delay and success message.
                    // Snackbar.Add("Login exitoso.", MudBlazor.Severity.Success);
                    // await Task.Delay(2000);
                        
                    NavigationManager.NavigateTo($"/teraLogin?sessionId={userSession.SessionId}", forceLoad: true);
                }
                else
                {
                    Snackbar.Add("Contraseña incorrecta.", MudBlazor.Severity.Error);
                }
            })
            .IfEmpty(() =>
            {
                Snackbar.Add("No existe un usuario con este mail registrado.", MudBlazor.Severity.Warning);
            })
            .IfError(error =>
            {
                Snackbar.Add($"Se produjo el error: {error}", MudBlazor.Severity.Error);
            });
        }
        catch
        {
            return;
        }
    }

    /// <summary>
    /// Middle model for user login data.
    /// </summary>
    public class ApplicationUserInputData
    {
        public string EmailAddress { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
    }

    /// <summary>
    /// A standard AbstractValidator which contains multiple rules and can be shared with the back end API.
    /// </summary>
    /// <typeparam name="OrderModel"></typeparam>
    public class LoginValidator : AbstractValidator<ApplicationUserInputData>
    {
        public LoginValidator()
        {
            RuleFor(l => l.EmailAddress)
                .Cascade(CascadeMode.Stop)
                .NotEmpty().WithMessage("El correo electrónico es obligatorio.")
                .EmailAddress().WithMessage("El correo electrónico no es válido.")
                .MustAsync(async (value, cancellationToken) => await IsUniqueAsync(value)).WithMessage("El correo electrónico ya está registrado.");
            RuleFor(l => l.Password)
                .NotEmpty().WithMessage("La contraseña no puede estar vacía.")
                .MinimumLength(8).WithMessage("La contraseña debe tener al menos 8 caracteres.")
                .Matches(@"[A-Z]+").WithMessage("La contraseña debe contener al menos una letra mayúscula.")
                .Matches(@"[a-z]+").WithMessage("La contraseña debe contener al menos una letra minúscula.")
                .Matches(@"[0-9]+").WithMessage("La contraseña debe contener al menos un número.")
                .Matches(@"[\#\?\!\@\$\%\^\&\*\-\.]+").WithMessage("La contraseña debe contener al menos un carácter especial: #?!@$ %^&*-. ");
        }

        private async Task<bool> IsUniqueAsync(string email)
        {
            // Simulates a long running http call.
            await Task.Delay(2000);

            return email.ToLower() != "test@test.com";
        }

        public Func<object, string, Task<IEnumerable<string>>> ValidateValue => async (model, propertyName) =>
        {
            var result = await ValidateAsync(ValidationContext<ApplicationUserInputData>.CreateWithOptions((ApplicationUserInputData)model, x => x.IncludeProperties(propertyName)));

            if (result.IsValid) return Array.Empty<string>();

            return result.Errors.Select(e => e.ErrorMessage);
        };
    }
}


@* @using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using GeneralReservationSystem.Web.Data

@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager

<PageTitle>Log in</PageTitle>

<h1>Log in</h1>
<div class="row">
    <div class="col-lg-6">
        <section>
            <StatusMessage Message="@errorMessage" />
            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <h2>Use a local account to log in.</h2>
                <hr />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label for="Input.Email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label for="Input.Password" class="form-label">Password</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div class="checkbox mb-3">
                    <label class="form-label">
                        <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" />
                        Remember me
                    </label>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a href="Account/ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Register as a new user</a>
                    </p>
                    <p>
                        <a href="Account/ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </EditForm>
        </section>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            <ExternalLoginPicker />
        </section>
    </div>
</div>

@code {
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {

    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }
}
 *@