@page "/Account/Register"

@using GeneralReservationSystem.Application.Entities.Authentication
@using GeneralReservationSystem.Application.Repositories.Interfaces.Authentication
@using System.Text

@inject IUserRepository UserRepository
@inject ISnackbar Snackbar


<MudContainer Class="mt-16">
    <MudGrid Class="mt-16" Justify="Justify.Center">
        <MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Registrarse</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudForm Model="@registerUserData" @ref="@form" Validation="@(registerValidator.ValidateValue)" ValidationDelay="0">
                        <MudCardContent>
                            <MudTextField @bind-Value="registerUserData.UserName"
                                          For="@(() => registerUserData.UserName)"
                                          Required="true"
                                          Label="Nombre" />

                            <MudTextField @bind-Value="registerUserData.Email"
                                          For="@(() => registerUserData.Email)"
                                          Required="true"
                                          Label="Email" />

                            <MudTextField @bind-Value="registerUserData.Password"
                                          For="@(() => registerUserData.Password)"
                                          InputType="InputType.Password"
                                          Required="true"
                                          Label="Contraseña" />

                            <MudTextField @bind-Value="registerUserData.ConfirmPassword"
                                          For="@(() => registerUserData.ConfirmPassword)"
                                          InputType="InputType.Password"
                                          Required="true"
                                          Label="Confirme la contraseña" />
                        </MudCardContent>
                    </MudForm>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;" OnClick="@(async () => await RegisterAsync())">Registrarse</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
    <MudText Align="Align.Center" Class="mt-4">
        ¿Ya esta registrado?
        <MudLink Href="/Account/Login" Align="Align.Center">Loguearse</MudLink>
    </MudText>
</MudContainer>


@code
{
    #region Properties and Fields

    MudForm form;

    ApplicationUser registerUser = new();

    ApplicationUserInputData registerUserData = new();

    RegisterValidator registerValidator = new RegisterValidator();

    #endregion

    private async Task RegisterAsync()
    {
        try
        {
            await form.Validate();

            var passwordHasher = new Helpers.PasswordHashingHelper<ApplicationUser>();

            // Remove and leave the security and validation logic to the UserManager in the future.
            string hashedPassword = passwordHasher.HashPassword(registerUser, registerUserData.Password);

            registerUser = new ApplicationUser
            {
                UserId = Guid.NewGuid(),
                UserName = registerUserData.UserName,
                NormalizedUserName = registerUserData.UserName.ToUpperInvariant(),
                Email = registerUserData.Email,
                NormalizedEmail = registerUserData.Email.ToUpperInvariant(),
                EmailConfirmed = false,
                PasswordHash = Encoding.UTF8.GetBytes(hashedPassword),
                SecurityStamp = Guid.NewGuid()
            };

            // TODO: Remove hardcoded role assignment once we have an admin functionality to manage roles.
            var userRole = new ApplicationRole
            {
                Name = "Cliente",
                NormalizedName = "CLIENTE"
            };

            var result = await UserRepository.CreateUserAsync(registerUser, new List<ApplicationRole> { userRole });

            if (form.IsValid)
            {
                result.IfSuccess(async () =>
                {
                    // TODO: Might want to make IfSuccess async in the future, so that we can show some message for a few seconds before redirecting.
                    // Snackbar.Add("¡Usuario creado exitosamente!", MudBlazor.Severity.Success);
                    await Task.Delay(2000);
                    NavigationManager.NavigateTo("/Account/Login", forceLoad: true);
                })
                .IfFailure(error =>
                {
                    Snackbar.Add($"No se pudo crear el usuario: {error}", MudBlazor.Severity.Error);
                });
            }
        }
        catch
        {
            return;
        }
    }

    /// <summary>
    /// Middle class to hold the user registration data.
    /// </summary>
    public class ApplicationUserInputData
    {
        public string UserName { get; set; } = string.Empty;
        public string Email { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
        public string ConfirmPassword { get; set; } = string.Empty;
    }

    /// <summary>
    /// A standard AbstractValidator which contains multiple rules and can be shared with the back end API.
    /// </summary>
    /// <typeparam name="registerUser"></typeparam>
    public class RegisterValidator : AbstractValidator<ApplicationUserInputData>
    {
        public RegisterValidator()
        {
            RuleFor(r => r.UserName)
                .NotEmpty().WithMessage("El nombre de usuario es obligatorio.")
                .Length(1, 50).WithMessage("El nombre de usuario debe tener entre 1 y 50 caracteres.");
            RuleFor(r => r.Email)
                .Cascade(CascadeMode.Stop)
                .NotEmpty().WithMessage("El correo electrónico es obligatorio.")
                .EmailAddress().WithMessage("El correo electrónico no es válido.")
                .MustAsync(async (value, cancellationToken) => await IsUniqueAsync(value)).WithMessage("El correo electrónico ya está registrado.");
            RuleFor(r => r.Password)
                .NotEmpty().WithMessage("La contraseña no puede estar vacía.")
                .MinimumLength(8).WithMessage("La contraseña debe tener al menos 8 caracteres.")
                .Matches(@"[A-Z]+").WithMessage("La contraseña debe contener al menos una letra mayúscula.")
                .Matches(@"[a-z]+").WithMessage("La contraseña debe contener al menos una letra minúscula.")
                .Matches(@"[0-9]+").WithMessage("La contraseña debe contener al menos un número.")
                .Matches(@"[\#\?\!\@\$\%\^\&\*\-\.]+").WithMessage("La contraseña debe contener al menos un carácter especial: #?!@$ %^&*-. ");
            RuleFor(r => r.ConfirmPassword)
                .Equal(r => r.Password).WithMessage("Las contraseñas no coinciden.");
        }

        private async Task<bool> IsUniqueAsync(string email)
        {
            // Simulates a long running http call.
            await Task.Delay(2000);

            return email.ToLower() != "test@test.com";
        }

        public Func<object, string, Task<IEnumerable<string>>> ValidateValue => async (model, propertyName) =>
        {
            var result = await ValidateAsync(ValidationContext<ApplicationUserInputData>.CreateWithOptions((ApplicationUserInputData)model, x => x.IncludeProperties(propertyName)));

            if (result.IsValid) return Array.Empty<string>();

            return result.Errors.Select(e => e.ErrorMessage);
        };
    }
}

@*
/// <summary>
/// Blazor Server Side
/// </summary>
@page "/Account/Register"
@attribute [AllowAnonymous]
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using GeneralReservationSystem.Web.Data

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<div class="row">
    <div class="col-lg-6">
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />
            <h2>Create a new account.</h2>
            <hr />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="Input.Email">Email</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label for="Input.Password">Password</label>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label for="Input.ConfirmPassword">Confirm Password</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </EditForm>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            <ExternalLoginPicker />
        </section>
    </div>
</div>

@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();

        await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
        var result = await UserManager.CreateAsync(user, Input.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }

        Logger.LogInformation("User created a new account with password.");

        var userId = await UserManager.GetUserIdAsync(user);
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

        await EmailSender.SendConfirmationLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            RedirectManager.RedirectTo(
                "Account/RegisterConfirmation",
                new() { ["email"] = Input.Email, ["returnUrl"] = ReturnUrl });
        }

        await SignInManager.SignInAsync(user, isPersistent: false);
        RedirectManager.RedirectTo(ReturnUrl);
    }

    private ApplicationUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<ApplicationUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
                $"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<ApplicationUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";
    }
}
*@