@page "/trips/view"

@using GeneralReservationSystem.Application.Services.Interfaces
@using Application.Entities

@inject ITripService tripService
@inject IStationService stationService
@inject NavigationManager navManager

<MudContainer 
    Class="p-4">

    <MudTable 
        Items="@trips" 
        Hover="true">

        <ToolBarContent>
            <div class="d-flex flex-row align-items-center w-100">
                <MudText Typo="Typo.h3" Class="me-4">Viajes</MudText>

                <MudSpacer />

                <MudText 
                    Typo="Typo.h5">
                    *Insertar filtros aca*
                </MudText>

                @* <MudStack
                    Row="true">
                    <MudStack Spacing="2">
                        <MudDatePicker HelperText="Fecha de partida" />
                        <MudDatePicker HelperText="Fecha de llegada" />
                    </MudStack>

                    <MudStack Spacing="2">
                        <TripSelector AutoPopulate="true" />
                        <TripSelector AutoPopulate="true" />
                    </MudStack>
                </MudStack> *@
            </div>
        </ToolBarContent>

        <HeaderContent>

            <MudTh>
                <MudTableSortLabel SortBy="new Func<Trip, object>(t => t.TripId)">
                    Id
                </MudTableSortLabel>
            </MudTh>

            <MudTh>
               Origen
            </MudTh>

            <MudTh>
               Destino
            </MudTh>

            <MudTh>
                <MudTableSortLabel SortBy="new Func<Trip, object>(t => t.DepartureTime)">
                    Fecha de Salida
                </MudTableSortLabel>
            </MudTh>

            <MudTh>
                <MudTableSortLabel SortBy="new Func<Trip, object>(t => t.ArrivalTime)">
                    Fecha de Llegada
                </MudTableSortLabel>
            </MudTh>

            <MudTh Class="text-center">
                Acciones
            </MudTh>

        </HeaderContent>

        <RowTemplate>
            @*TODO: Modificar para que no muestre id de las estaciones, sino el nombre*@
            <MudTd DataLabel="Id">@context.TripId</MudTd>
            <MudTd DataLabel="Origen">@stations[context.DepartureStationId].StationName</MudTd>
            <MudTd DataLabel="Destino">@stations[context.ArrivalStationId].StationName</MudTd>
            <MudTd DataLabel="Fecha de Salida">@context.DepartureTime.ToString("g")</MudTd>
            <MudTd DataLabel="Fecha de Llegada">@context.ArrivalTime.ToString("g")</MudTd>
            <MudTd Class="text-center">
                <MudTooltip 
                    Text="Editar">

                    <MudButton 
                        Variant="Variant.Filled"
                        StartIcon="@Icons.Material.Filled.Edit"
                        OnClick="@(() => EditTrip(context.TripId))">
                        Editar
                    </MudButton>

                </MudTooltip>
                
            </MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager 
                RowsPerPageString="Filas por pagina:"/>
        </PagerContent>
    </MudTable>

</MudContainer>

@code {

    @*Posiblemente considerar crear algun objeto Trip que contenga tambien el modelo de la estacion para poder ordenar por nombre de estacion*@
    List<Trip> trips = new();
    Dictionary<int, Station> stations = new();

    protected override async Task OnInitializedAsync()
    {
        //TODO: Paginar
        trips       = (await tripService.GetAllTripsAsync()).ToList();
        stations    = (await stationService.GetAllStationsAsync()).ToDictionary(s => s.StationId);
    }

    private void EditTrip(int tripId)
    {
        navManager.NavigateTo($"/trips/edit/{tripId}");
    }
}